.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #2b3e50;
}

nav a {
  color: #FFF;
}

section {
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
}

.jumbotron,
#about {
  color: #FFF;
}

#portfolio h2,
#contact h2 {
  color: #333;
}

.wrapper-85-w {
  width: 75%;
}

.jumbotron {
  text-align: center;
  text-transform: uppercase;
  background-color: #29b297;
  color: #FFF;
}

.jumbotron img {
  max-width: 300px;
}

#portfolio {
  text-align: center;
}

#portfolio img {
  width: 350px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#portfolio a:hover {
  background-color: #FFF;
  opacity: 0.5;
}

#about {
  background-color: #29b297;
}

#about p {
  color: #FFF;
}

.btn-default-transparent {
  background-color: transparent;
  color: #FFF;
}

.btn-default-green {
  background-color: #29b297;
  color: #FFF;
}

.form-control {
  box-shadow: none;
}

input[type=text],
input[type=email],
textarea#message {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0px;
}

#social,
#copyright {
  color: #FFF;
}

#social {
  background-color: #38556e;
}

#copyright {
  background-color: #2b3e50;
}
