.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #2b3e50;
  text-transform: uppercase;
}

nav a {
  color: #FFF;
}

.jumbotron {
  text-align: center;
  text-transform: uppercase;
  background-color: #29b297;
  color: #FFF;
}

.jumbotron img {
  max-width: 300px;
}

#portfolio {
  text-align: center;
}

#portfolio img {
  width: 350px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#portfolio a:hover {
  background-color: #FFF;
  opacity: 0.5;
}
