/* COMMON STYLES */

a {
  color: #FFF;
}

section {
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
}

/* Utilites */

.wrapper-75-w {
  width: 75%;
}

.wrapper-w-30 {
  width: 30%;
  margin: auto;
}

/* Button Styles */

.btn-default-transparent {
  background-color: transparent;
  color: #FFF;
}

.btn-default-green {
  background-color: #29b297;
  color: #FFF;
}

.btn-round {
  border: 1px solid #FFF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
}

/* Navbar Styles */

.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #2b3e50;
  text-transform: uppercase;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #FFF;
}

/* SEPARATOR STYLES */

.separator::after {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white; 
}

.separator-line {
  width: 100%;
  height: 2px;
  border-radius: 2px;
}

.separator-dark {
  color: #333;
}

.h2-separator .separator-color-light {
  color: #FFF;
}

.h2-separator::after {
  content: " ";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #FFF;
}

/* Typography */

.jumbotron,
#about {
  color: #FFF;
}

#portfolio h2,
#contact h2 {
  color: #333;
}

#portfolio {
  text-align: center;
}

#social,
#copyright,
.jumbotron {
  color: #FFF;
  text-align: center;
}

#about p {
  color: #FFF;
}

.autoref-link {
  color: #29b297;
}

/* Jumbotron Styles */

.jumbotron {
  text-transform: uppercase;
  background-color: #29b297;
}

.jumbotron img {
  display: block;
  max-width: 300px;
  margin: auto;
}

/* Portfolio + About Styles */

#portfolio img {
  width: 350px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#portfolio a:hover {
  background-color: #FFF;
  opacity: 0.5;
}

#about {
  background-color: #29b297;
}

/* Form Styles */

.form-control {
  box-shadow: none;
}

input[type=text],
input[type=email],
textarea#message {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0px;
}

/* FOOTER Styles */

#social {
  background-color: #38556e;
}

#social li {
  list-style: none;
  display: inline-block;
}

#copyright {
  background-color: #2b3e50;
}
